#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centered-display {
  display: grid;
  grid-row: 1fr 5fr;
  padding: 0;
}
